* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    background-image: url("./begron.png");
  }
  .heading ul {
    display: flex;
  }
  .logo {
    color: #faf5f5;
  }
  .logo a {
    color: #f0e6e6;;
    transition-duration: 0,5s;
    font-weight: 800;
  }
  .logo a:hover {
    color: rgb(240, 197, 6);
    transition-duration: 1s;
  }
  .heading ul li {
    list-style: none;
  }
  .heading ul li a {
    margin: 5px;
    text-decoration: none;
    color: #f1e9e9;;
    font-weight: 500;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
    transition-duration: 1s;
  }
  .heading ul li a:active {
    color: rgb(207, 197, 197);
  }
  .heading ul li a:hover {
    color: rgb(231, 222, 222);
    transition-duration: 1s;
  }
  
  .heading ul li a::before {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(194, 70, 70);
    transition-duration: 1s;
  }
  .heading ul li a:hover::before {
    width: 100%;
    transition-duration: 1s;
    background-color: rgb(139, 33, 33);
  }
  #input {
    height: 30px;
    width: 300px;
    text-decoration: none;
    border: 0px;
    padding: 5px;
  }
  .logo a {
    color: rgb(233, 224, 224);
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
  }
  ion-icon {
    width: 30px;
    height: 30px;
    background-color:rgb(158, 103, 103);
    color: rgb(139, 33, 33);
  }
  ion-icon:hover {
    cursor: pointer;
  }
  .search a {
    display: flex;
  }
  header a ion-icon {
    position: relative;
    right: 3px;
  }
  
  .img-slider img {
    height: 720px;
    width: 1080px;
  }
  @keyframes slide {
    0% {
      left: 0px;
    }
    15% {
      left: 0px;
    }
    20% {
      left: -1080px;
    }
    32% {
      left: -1080px;
    }
    35% {
      left: -2160px;
    }
    47% {
      left: -2160px;
    }
    50% {
      left: -3240px;
    }
    63% {
      left: -3240px;
    }
    66% {
      left: -4320px;
    }
    79% {
      left: -4320px;
    }
    82% {
      left: -5400px;
    }
    100% {
      left: 0px;
    }
  }
  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 1080px;
    height: 720px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
  }
  
  .heading1 {
    opacity: 0;
  }
  .search {
    display: flex;
    position: relative;
  }
  .section1 { 
    width: 1080px;
    height: 500px ;
    overflow: hidden;
  
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  
  .section2 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    background-image: url("./back.png");
  }
  .section2 .container .items {
    margin: 10px;
    width: 300px;
    height: 530px;
    background-color: white;
    border: 3.5px solid rgb(10, 10, 10);
    border-radius: 12px;
  }
  .section2 .container .items .name {
    text-align: center;
    background-color: rgb(92, 77, 77);
    height: 45px;
    padding-top: 0;
    color: white;
    margin: 0;
  }
  .section2 .container .items .name .portfolio-link { 
    margin-left: 0;
  }

  .portfolio-link svg {
    padding-top: 4px;
    fill: #501c11; /* Mengganti warna ikon SVG */
    transition: fill 0.5s ease; /* Animasi transisi saat hover */
  }
  .portfolio-link:hover svg {
    fill: #e9e0e0; /* Warna ikon saat di-hover */
  }

  .section2 .container .items .price {
    float: left;
    padding-top: 9px;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: rgb(71, 67, 67);
    font-weight: 650;
  }
  .section2 .container .items .info {
    display: grid;
    margin-top: 1.5rem;
    padding-left: 10px;
    padding-top: 9px;
    height: 100px;
    color: rgb(87, 81, 81);
  }
  .section2 .container .items .info ul {
    list-style: disc; /* Menggunakan bullet (●) */
    padding-left: 20px;
  }
  .section2 .container .items .info ul li {
    margin-bottom: 10px;
  }

  .section2 .container .items .img img {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
  }
  .section2 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
  }
  /* Contact Section */
#contact {
  padding: var(--sectionPadding);
  padding-left: 2rem; /* Tambahkan padding kiri */
  padding-right: 2rem; /* Tambahkan padding kanan */
}

.contact {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: #7c2a2a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--primaryIconColorHover);
}

/* Contact Section - Right Side */
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}


.contact-item-icon {
  background: #e7c9c9;
  /* padding: 0.8rem 1rem; */
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}
  footer {
    display: flex;
    flex-direction: column;
    background-image: url("./back.png") ;
    align-items: center;
    color: rgb(87, 81, 81);
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(87, 81, 81);
    margin-top: 15px;
  }
  .footer-icons {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  .footer-icons a {
    margin: 0 0.5rem;
  }
  
  .footer-icons svg {
    fill: #3e3f40;
  }
  
  .footer-icons a:hover svg {
    fill: #000;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    color: rgb(87, 81, 81);
    flex-wrap: wrap;
  }
  .social-media a {
    color: rgb(87, 81, 81);
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgb(87, 81, 81);
  }
  .social-media a ion-icon {
    color: rgb(87, 81, 81);
    background-image: url("assets/BEKGRON.png");
  }
  .social-media a:hover ion-icon {
    color: rgb(211, 196, 196);
    transform: translateY(5px);
  }
  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(87, 81, 81);
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
    color: rgb(87, 81, 81);
  }
  .footer2 .div:hover {
    transform: scale(1.05);
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }

  .menu {
    visibility: hidden;
  }
  .heading1 .ham:active {
    color: red;
  }
  .items {
    overflow: hidden;
  }
  .ham,
  .close {
    cursor: pointer;
  }
  
  @media screen and (max-width: 1250px) {
    .heading ul li {
      display: none;
    }
  
    .items {
      transform: scale(0.9);
    }
    .img-slider img {
      height: 60vw;
      width: 80vw;
    }
    .ham:active {
      color: red;
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu a ion-icon {
      position: absolute;
    }
  
    @keyframes slide1 {
      0% {
        left: 0vw;
      }
      15% {
        left: 0vw;
      }
      20% {
        left: -80vw;
      }
      32% {
        left: -80vw;
      }
      35% {
        left: -160vw;
      }
      47% {
        left: -160vw;
      }
      50% {
        left: -240vw;
      }
      63% {
        left: -240vw;
      }
      66% {
        left: -320vw;
      }
      79% {
        left: -320vw;
      }
      82% {
        left: -400vw;
      }
      100% {
        left: 0vw;
      }
    }
    .menu ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgb(139, 33, 33);
      left: 0;
      top: 0;
      z-index: 11;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }
    .close {
      z-index: 34;
  
      color: white;
      background-color: rgb(139, 33, 33);
    }
    .close:active {
      color: red;
    }
    .menu ul li {
      list-style: none;
      margin: 20px;
      border-top: 3px solid white;
      width: 80%;
      text-align: center;
  
      padding-top: 10px;
    }
    .menu ul li a {
      text-decoration: none;
      padding-top: 10px;
      color: white;
      font-weight: 900;
    }
    .menu ul li a:hover {
      color: rgb(139, 33, 33);
    }
    .img-slider {
      display: flex;
      float: left;
      position: relative;
      width: 80%;
      height: 60%;
      animation-name: slide1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      transition-duration: 2s;
    }
    .section1 {
      width: 80%;
      overflow: hidden;
  
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }
  
    .heading1 {
      opacity: 1;
      position: relative;
      bottom: 8px;
    }
    .search a {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .heading1 .ham {
      background-color: rgb(139, 33, 33);
      color: white;
    }
    #input {
      width: 200px;
      flex-shrink: 2;
    }
    header {
      height: 150px;
    }
  }
  @media screen and (max-width: 550px) {
    .heading ul li {
      display: none;
    }
    .heading1 {
      opacity: 1;
  
      bottom: 8px;
    }
  
    header {
      height: 250px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
    }
    #input {
      width: 150px;
    }
    .close {
      z-index: 34;
    }
  
    .search a {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  @media (min-width: 768px) {
    #contact {
      padding-left: 4rem; /* Jarak lebih besar pada layar lebar */
      padding-right: 4rem;
    }
  }